* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ece9fd;
  padding: 6rem 2.3rem 6.6rem;
  font-family: "Epilogue", sans-serif;
}
main {
  max-width: 33rem;
  margin: 0 auto;
}

main p:nth-child(1) {
  text-transform: uppercase;
  color: #7158ef;
  margin-bottom: 1.4rem;
}

li {
  list-style: none;
}

h1 {
  font-size: 4.4rem;
  margin-bottom: 1.5rem;
}

p:nth-child(1) {
  letter-spacing: 3px;
}

.p-primary {
  color: rgba(10, 0, 57, 0.64);
  line-height: 1.5;
  margin-bottom: 4.4rem;
}

a {
  padding: 1.6rem 3.2rem;
  border: 1px solid #090039;
  border-radius: 0.8rem;
  text-decoration: none;
  color: #090039;
  background-color: #d5cff3;
}

li {
  font-weight: 700;
  font-size: 2.4rem;
  color: #090039;
  margin-top: 6.4rem;
  max-width: 25.7rem;
  display: flex;
  align-items: flex-start;
  gap: 3.8rem;
}

li span {
  font-size: 6.4rem;
  font-weight: 800;
}
